.w-5{
    width: 20px;
}
.pagination{
    justify-content: flex-end;
    margin: 0px;
}
.btn-add{
    height: 36px;
    width: 75px;
}
.btn-search{
    height: 36px;
}
tr th{
    font-weight: bold !important;
}
@media (max-width: 1800px) {
    .null{
        display: none;
    }
}
